body{
  background: #eee;
}
/*reset*/
ul {
  padding: 0;
}

/*主页的分类*/
.index-category a{
  display: inline-block;
  text-align: center;
  line-height: 66px;
  color:#fff;
  font-size: 20px;
  margin: 18px;
  width: 110px;
  height: 66px;
  text-decoration: none;
  position: relative;
  border-radius: 6px;
}
.index-category a:hover{
  top: -4px;
}
.index-category a:nth-of-type(1){
  background: url('../img/category01.png') no-repeat center;
}
.index-category a:nth-of-type(2){
  background: url('../img/category02.png') no-repeat center;
}
.index-category a:nth-of-type(3){
  background: url('../img/category03.png') no-repeat center;
}
.index-category a:nth-of-type(4){
  background: url('../img/category04.png') no-repeat center;
}
.index-category a:nth-of-type(5){
  background: url('../img/category05.png') no-repeat center;
}
.index-category a:nth-of-type(6){
  background: url('../img/category06.png') no-repeat center;
}
.index-category a:nth-of-type(7){
  background: url('../img/category07.png') no-repeat center;
}
.index-category a:nth-of-type(8){
  background: url('../img/category08.png') no-repeat center;
}


/*主标题样式*/
.main-title{
  font-size: 18px;
  border-left: 3px solid #5bb952;
  padding-left: 10px;
  line-height: 30px;
  margin: 10px 0px;
}

/*主标题样式*/
.sub-title{
  font-size: 16px;
  border-left: 2px solid #5bb952;
  padding-left: 10px;
  line-height: 26px;
  margin: 10px 0px;
}
.more {
  float: right;
  font-size: 12px;
  color: #999;
}



/*tab标签样式*/
.tab{

}
.tab span{
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  color: #333;
  font-size: 16px;
  border-radius: 6px;
}
.tab span.active{
  background-color: #5bb952;
  color: #fff;
}


/* video播放器 */
.m {
  width: 90%;
  height: 300px;
	/* height: 400px; */
	margin-left: auto;
	margin-right: auto;
}
.m .video-js{
  width: 100% !important;
  height: 100% !important;
}