body{
  background: #eee;
}
.content{
  width: 1200px;
  margin:0 auto;
}
.content .section{
  background: #fff;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.thumbnail{
  cursor: pointer;
  position: relative;
  border: none;
}
.thumbnail:hover{
  top: -4px;
  box-shadow: 1px 1px 4px #ccc;
}
.pagination .active a{
  background-color: #fa9e5a;
  border-color: #fa9e5a;
}
.pagination .active a:hover{
  background-color: #fa9e5a;
  border-color: #fa9e5a;
}
.pagination .active a:focus{
  background-color: #fa9e5a;
  border-color: #fa9e5a;
}
.pagination li a{
  color: #fa9e5a;
}
.pagination li a:hover{
  color: #fa9e5a;
}
.pagination li a:focus{
  color: #fa9e5a;
}

/*子页面banner*/
.sub-banner{
  height: 300px;
  overflow: hidden;
  background: url('../img/banner.png') no-repeat;
}
.banner-wrap{
  width: 1200px;
  margin: 0 auto;
}
.banner-title{
  margin-top: 100px;
  margin-left: 40px;
}
.banner-title h3{
  font-size: 46px;
  font-weight: normal;
}
.banner-title p{
  font-size: 36px;
  font-weight: lighter;
}

/*子页面内容区*/
.sub-content{
  width: 1200px;
  margin: 0 auto 80px auto;
}

/*面包屑导航*/
.bread-crumb{
  margin-top: 30px;
}
.bread-crumb a{
  font-size: 14px;
  color:#333;
  text-decoration: none;
  cursor: pointer;
}
.bread-crumb .current{
  font-size: 14px;
  color:#ebac3e;
}

/*子页面小分类*/
.sub-small-category{
  margin-top: 10px;
  height: 40px;
  background-color: #f6f6f6!important;
  border:2px solid #fff;
  padding: 5px 20px;
}
.sub-small-category span{
  font-size: 14px;
  border-right: 1px solid #999;
  padding: 0 30px;
  line-height: 30px;
  cursor: pointer;
}
.sub-small-category span:last-of-type{
  border: none;
}
.sub-small-category span.active{
  color: #ebac3e;
}
.sub-small-category span:hover{
  color: #ebac3e;
  font-size:16px;
}

/*子页面分类*/
.sub-category{
  margin-top: 30px;
  background-color: #fff;
  padding: 10px 40px;
}
.sub-category span{
  width:110px;
  margin-right: 13px;
  margin-left: 13px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  color: #666;
  font-size:16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.sub-category span.active{
  background-color: #ebac3e;
  color: #fff;
}
.sub-category span:hover{
  background-color: #ebac3e;
  color: #fff;
}

/*工具*/
.hidden{
  display: none;
}
/*reset*/
ul {
  padding: 0;
}

/*主页的分类*/
.index-category a{
  display: inline-block;
  text-align: center;
  line-height: 66px;
  color:#fff;
  font-size: 20px;
  margin: 18px;
  width: 110px;
  height: 66px;
  text-decoration: none;
  position: relative;
  border-radius: 6px;
}
.index-category a:hover{
  top: -4px;
}
.index-category a:nth-of-type(1){
  background: url('../img/category01.png') no-repeat center;
}
.index-category a:nth-of-type(2){
  background: url('../img/category02.png') no-repeat center;
}
.index-category a:nth-of-type(3){
  background: url('../img/category03.png') no-repeat center;
}
.index-category a:nth-of-type(4){
  background: url('../img/category04.png') no-repeat center;
}
.index-category a:nth-of-type(5){
  background: url('../img/category05.png') no-repeat center;
}
.index-category a:nth-of-type(6){
  background: url('../img/category06.png') no-repeat center;
}
.index-category a:nth-of-type(7){
  background: url('../img/category07.png') no-repeat center;
}
.index-category a:nth-of-type(8){
  background: url('../img/category08.png') no-repeat center;
}


/*主标题样式*/
.main-title{
  font-size: 18px;
  border-left: 3px solid #5bb952;
  padding-left: 10px;
  line-height: 30px;
  margin: 10px 0px;
}
/*子页面主标题*/
.sub-main-title{
  font-size: 18px;
  border-left: 3px solid #ff8d28;
  padding-left: 10px;
  line-height: 30px;
  margin: 10px 0px;
}

/*主标题样式*/
.sub-title{
  font-size: 16px;
  border-left: 2px solid #5bb952;
  padding-left: 10px;
  line-height: 26px;
  margin: 10px 0px;
}
.sub-sub-title{
  font-size: 16px;
  border-left: 2px solid #ff8d28;
  padding-left: 10px;
  line-height: 26px;
  margin: 10px 0px;
}
.more {
  float: right;
  font-size: 12px;
  color: #999;
}



/*tab标签样式*/
.tab span:hover{
  background-color: #5bb952;
  color: #fff;
}
.tab span{
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  color: #333;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.tab span.active{
  background-color: #5bb952;
  color: #fff;
}


/* video播放器 */
.m {
  width: 90%;
  height: 300px;
	/* height: 400px; */
	margin-left: auto;
	margin-right: auto;
}
.m .video-js{
  width: 100% !important;
  height: 100% !important;
}

/*横向tab*/
.h-tab{
  border-bottom: 1px solid #eee;
}
.h-tab span{
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
  line-height: 40px;
  margin:0 20px;
  position: relative;
  cursor: pointer;
}
.h-tab span.active{
  border-bottom: 2px solid #ff8d28;
}
.h-tab span:hover{
  border-bottom: 2px solid #ff8d28;
  top: -4px;
}

/*footer*/
  .footer {
    background: #333;
  }
  .footer .main-logo img{
    width: 40%;
  }
  .footer .footer-wrap{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 20px 0;
  }
  .footer .aboutus-title{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  .footer .aboutus-item{
    font-size: 12px;
    color: #aaa;
    margin-bottom: 3px;
  }
  .footer p{
    color: #aaa;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }